<div class="container mt-4">
    <h1>All About Me!</h1>
    <h2>My name is Charles Lincoln, I am currecntly a junior at Connecticut College</h2>
</div>
<div class="container mt-4">
    <p>I am a computer science and music double major. Some of my interests outside of school include running, hiking, exercising,
    art, composing, gaming and fishing. I am twenty one years old, and have lived in Connecticut for my whole life.</p>
</div>

<div class="container mt-4">
   <p>If you want to reach me, try emailing me <a href="mailto:clincoln1@conncoll.edu" class="link" target="_blank">here.</a> Alternatively,
    <a href="https://www.linkedin.com/in/charles-lincoln-293670338/" class="link" target="_blank">message me on LinkedIn.</a></p>
</div>