<div class="container mt-4">
    <h1>Welcome to my Portfolio Website!</h1>
    <h2>My name is Charles Lincoln, I am currecntly a junior at Connecticut College</h2>
</div>
<div class="container mt-4">
    <p>I am a computer science and music double major to 
    learn more, check out my  <%= link_to 'About Me', about_path, class: "link" %> page, or if you'd likes to see my resume,
    try visiting <%= link_to 'My Portfolio', portfolio_path, class: "link" %><p>
</div>

