<div class="container mt-4">
    <h1>My Portfolio</h1>
    <h2>
        <a href="https://www.linkedin.com/in/charles-lincoln-293670338/" class="link" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/CharSL25" class="link" target="_blank"><i class="fa-brands fa-github"></i></a>
    </h2>
</div>
<div class="container mt-4">
    <p>
        I have been a part of many projects since I arrived at college. I have studied the history of and 
        implemented artificial intelligence, I have created data structures from scratch, built a robot and 
        worked on research regarding elections. I also write music and play the piano. This website is also
        a project of mine. I greatly enjoy creating things in general.
    </p>
</div>